---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor in Molecular Sciences"
      subtitle= "Aug-19 to Aug-24 at USP, São Paulo, Brazil"
    >
I hold a degree in Molecular Sciences from the University of São Paulo, with a focus on Computational Physics and the application of Artificial Intelligence in Physics. Throughout the program, I cultivated a robust interdisciplinary background, delving into Biology, Computer Science, Physics, Mathematics, and Chemistry.
<br>
During the Basic Cycle, I acquired foundational skills for interdisciplinary knowledge production. In the Advanced Cycle, I dedicated myself to an innovative research project, leveraging my expertise in Computational Physics and Artificial Intelligence to address applications in Lattice Quantum Chromodynamics.
<br>
Furthermore, I actively engaged in extracurricular projects and complementary academic activities, broadening my perspective and collaborating within a diverse and stimulating academic environment.
  </TimeLineElement>
  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Member at Turing USP AI Group"
      subtitle= "Mar-23 - current at USP, São Paulo, Brazil"
    >
  I am currently a member of the Turing USP AI Group, a research group focused on the development and application of Artificial Intelligence projects, I've participated on the areas of Reinforcement Learning and Data Science. I also have experience in the development of projects of the group related to the group website and the development of a AI course for the university community.
  </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Jr. Strategy Analyst"
      subtitle="From Jul-23 to Sep-23 at DivZero Recuperação de Créditos, São Paulo, Brazil"
    >
    Role in structuring company processes, particularly in SQL query development and data analysis. Also responsible for developing and implementing analyses and reports on credit recovery operations performance, aiming to identify improvement opportunities and develop strategies to enhance efficiency and reduce costs.  
  </TimeLineElement>
    <TimeLineElement
      title="Production Manager"
      subtitle="From Set-22 to Jun-23 at Fazenda Próspera, Parauapebas, Brazil"
    >
    Experience in planning, coordinating, and monitoring daily production operations, ensuring compliance with deadlines and budgets, while identifying improvement opportunities to increase efficiency and reduce costs.
    </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>Excel</li>
    <li>SQL</li>
    <li>Machine Learning</li>
    <li>Deep Learning</li>
    <li>Monte Carlo Method</li>
    <li>Wordpress</li>
    <li>React JS</li>
    <li><CSS/li>
    <li>HTML</li>
    <li>A/B Tests</li>
  </ul>
</BaseLayout>
