---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Astro Services</div>
  </div>

  <HorizontalCard
    title="Data Analysis and Reporting"
    img="/data_analysis.jpg"
    desc="Utilize Python and SQL for data analysis and querying. Develop reports on operational performance and improvement opportunities."
    badge="NEW"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Machine Learning and AI Solutions"
    img="/machine_learning_ai.jpg"
    desc="Apply machine learning techniques, including reinforcement learning and deep learning. Implement AI solutions for various projects and applications."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Web Development Services"
    img="/web_development.webp"
    desc="Build websites using technologies like React JS, CSS, and HTML. Develop and maintain WordPress websites."
    url="#"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Consulting and Project Management"
    img="/consulting_management.webp"
    desc="Provide strategic analysis and recommendations based on data-driven insights. Offer expertise in process optimization and efficiency enhancement."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Algorithm Design and Optimization"
    img="/algorithm_design.jpg"
    desc="Design efficient algorithms and optimize existing ones. Apply principles of computer science and mathematics to solve complex computational problems."
    url="#"
    badge="NEW"
  />
  <HorizontalCard
  title="Physics Tutoring, Mathematics Classes, Computer Science Workshops"
  img="/academic_services.jpg"
  desc="Offer tutoring sessions in various topics of physics, including mechanics, electromagnetism, quantum mechanics, and thermodynamics. Provide comprehensive math classes covering topics such as algebra, calculus, geometry, and differential equations. Organize interactive workshops on computer science fundamentals, programming languages, data structures, and algorithms. Tailored sessions to meet individual learning needs."
  badge="NEW"
  url="#"
/>
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Numerical Simulation and Modeling"
    img="/numerical_simulation.jpg"
    desc="Perform numerical simulations and modeling using techniques from physics and mathematics. Analyze and visualize data to gain insights into physical systems."
    url="#"
  />
</BaseLayout>